.swiper {
  /* width: calc(100vw - 720px); */
  width: 80rem;
  height: 280px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}
.product-card {
  /* border: 1px solid green; */
  height: 90%;
  width: 85%;
  margin-top: 12px;
  margin-bottom: 12px;
}
.card-top {
  height: 80%;
  display: flex;
  /* background-image: url("https://assets.adidas.com/images/w_600,f_auto,q_auto/0cb07ce217a64c1ca3a1ad7400c40178_9366/ZX_5K_Boost_Shoes_Black_GX8664.jpg"); */
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  padding-left: 5px;
  font-size: 1.5em;
}
.card-top:hover {
  padding-bottom: 5px;
  transition: 0.4s;
}
.price {
  background-color: white;
  padding: 1px;
  width: min-content;
}
.card-bottom {
  justify-content: center;
}
.card-bottom h1 {
  font-size: 2.5em;
}
.card-desc {
  color: gray;
  font-size: 2em;
}
.next {
  background-color: antiquewhite;
}
.prev {
  background-color: black;
}

.carousel-btn-prev,
.carousel-btn-next {
  background-color: white;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  transform: translate(-590px, -230px);
  /* position: fixed; */
}

.carousel-btn-next {
  transform: translate(590px, -175px);
}

.carousel-btn-prev:hover,
.carousel-btn-next:hover {
  transition: 0.4s ease-in-out;
  opacity: 1;
}
