* {
  --gallery-image-height: 700px;
}
#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: calc(var(--gallery-image-height) * 2);
  overflow: hidden;
  transition: 0.3s;
}
.gallery-container {
  margin: 0;
  width: calc(100% / 2);
  height: var(--gallery-image-height);
}
.gallery-container video,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
#btn-container button {
  border: 1px solid black;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: white;
  /* z-index: 2; */
  translate: 0px -20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
#gallery button:hover {
  color: rgba(0, 0, 0, 0.5);
}
#gallery.show {
  height: calc(var(--gallery-image-height) * 5);
}
svg {
  width: 25px;
  height: 20px;
  padding-left: 8px;
}
