.toggle-btn {
  width: 100%;
  text-align: left;
  padding: 30px 15px;
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}

.style-container {
  
}

.caption {
  font-size: 50%;
  text-align: center;
}

.next {
  background-color: antiquewhite;
}
.prev {
  background-color: black;
}

.carousel-btn-prev,
.carousel-btn-next {
  background-color: white;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  transform: translate(-590px, -230px);
}

.carousel-btn-next {
  transform: translate(590px, -175px);
}

.carousel-btn-prev:hover,
.carousel-btn-next:hover {
  transition: 0.4s ease-in-out;
  opacity: 1;
}
.swiper {
  width: 50rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-left: 60px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.product-card {
  width: 245px;
  height: 250px;
  font-size: 60%;
}

.border {
  border: 1px solid #eceff1;
  height: 325px;
  margin: 10px;
}
.border:hover{
  border-color: #767677;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 30px;
  transform: scale(.6);
}