.sizing-container {
    border-bottom: 2px solid #eceff1;
    margin: 10px;
}

.header {
    font-size: 50%;
    margin: 10px;
    font-weight: bold;
}

.bar {

    width: 250px;
    height: 5px;
    background-color: #eceff1;
    margin: 10px;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 40%;
    margin: 10px;
}